n8n_workflow.json
{
    "name": "Medical GraphRAG Q&A",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "medical-qa",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "medical-qa-webhook"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8000/qa",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "question",
                            "value": "={{ $json.body.question }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "http-request",
            "name": "Ask Medical GraphRAG",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                480,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ answer: $json.answer }) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-to-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                720,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Ask Medical GraphRAG",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Ask Medical GraphRAG": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "1",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "medical-graphrag-workflow"
    },
    "id": "medical-graphrag-qa",
    "tags": []
}